.cover-wrapper {
  padding-right: 120px;
  padding-bottom: 60px;
  background-color: $primary-bg;
  position: relative;

  @media only screen and (max-width: 768px) {
    padding: 0;
  }
}

.cover {
  @include add-transitions(all .4s);

  background: url('https://images.pexels.com/photos/205508/pexels-photo-205508.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb') center/cover;
  width: 100%;
  height: 600px;
  position: relative;
  display: table;
  margin-top: 60px;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);

  .inner {
    display: table-cell;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.2);
    color: $color__white;
  }

  &__heading {
    max-width: 600px;
    font-size: 48px;
    line-height: 1.2em;
    font-weight: 100;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__label {
    @include add-transformations(rotate(-90deg) translateX(-250px));
    @include add-transitions(color .2s);

    position: absolute;
    top: 0;
    right: -100px;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    margin: 0;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    letter-spacing: 2px;
  }

  &:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);

    .inner {
      background-color: transparent;
    }
  }

  @media only screen and (max-width: 768px) {
    height: 300px;
    margin-bottom: 50px;

    &__heading {
      font-size: 34px;
      font-weight: 400;
    }

    &__label {
      display: none;
    }
  }
}

