.footer {
    text-align: center;
    padding: 60px 0 40px;
    margin-top: 80px;
    letter-spacing: 1px;
    background-color: $primary-bg;

    &__border {
        height: 3px;
        border-top: 1px solid rgba(77,79,83,0.3);
        border-bottom: 1px solid rgba(77,79,83,0.3);
    }

    &__logo-container {
        width: 80px;
        height: 80px;
        background-color: $primary-bg;
        text-align: center;
        margin: -22px auto 0;
    }

    &__logo {
        width: 50px;
    }

    .social-links {
        padding: 0;
        margin: 60px 0 0;
        list-style: none;
    }

    .social-links__text {
        margin: 0 25px;
        display: inline-block;

        @media only screen and (max-width: 768px) {
            margin: 0 12px 0 0;
            font-size: 12px;
            font-weight: 600;
        }
    }

    &__contact {
        margin-top: 30px;
        font-weight: 100;

        p {
            margin: 5px 0;
        }
    }
}
